!!!
%html
  %head
    %title GataAsta
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-sm-12
          = yield
    %script(src="https://cdnjs.cloudflare.com/ajax/libs/packery/1.4.3/packery.pkgd.min.js")
    = javascript_include_tag 'application'