!!!
%html
  %head
    %title GataAsta
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-sm-12(style="padding-top: 10px")
          = yield
    = javascript_include_tag 'application'